<mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>

<div class="content"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexFill >
  <div fxFlex="5" fxFlex.xs="15">
  </div>
  <div fxFlex="90" >

    <div>
      <div
        id="searchFilter"
        class="content"
        fxLayout="row"
        fxLayout.xs="column"
        fxFlexFill>
        <div fxFlex="70" fxFlex.xs="70" fxLayoutAlign="start center">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input id="searchInput" matInput (keyup)="searchItem($event)" placeholder="Search item">
          </mat-form-field>
        </div>
        <div fxFlex="30" fxLayoutAlign="end center">
          <button mat-icon-button
                  (click)="showDialog()"
                  matTooltip="Show Favourites"
                  matTooltipPosition="left"
                  matTooltipHideDelay="5000"
                  [matBadge]="favoriteItems()"
                  [matBadgeHidden]="showBadge()"
                  matBadgeSize="small"
                  matBadgeColor="warn"
                  matBadgePosition="above before"
                  id="showDialog"
                  color="warn"
                  aria-label="Not Favorite">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell mat- *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element"> {{ element.description}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency: 'EUR'}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="mat-header-cell-email">
              <div>Email</div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><img src="{{element.image}}" alt="Avatar" class="avatar"></td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="favorite">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="applyFavorite(element)" class="buttonFavorite" [color]="element.favorite ? 'warn' : 'basic'" aria-label="favorite">
              <mat-icon>{{element.favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="header; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: header;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
  <div fxFlex="5" fxFlex.xs="15">
  </div>
</div>



