
<div *ngIf="wallapopDataFiltered && wallapopDataFiltered.length !== 0; else noFoundData ">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="searchItem($event)" placeholder="Search item">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">

    <!-- Title Column -->
    <ng-container matColumnDef="titleFiltered">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="imageFiltered">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><img src="{{element.image}}" alt="Avatar" class="avatar"></td>
    </ng-container>

    <!-- Favorite Column -->
    <ng-container matColumnDef="favoriteFiltered">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="applyFavorite(element)" class='favorite' [color]="element.favorite ? 'warn' : 'basic'" aria-label="favorite">
          <mat-icon>favorite</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="header"></tr>
    <tr mat-row *matRowDef="let row; columns: header;"></tr>

  </table>
</div>

<ng-template #noFoundData>
  <div class="content"
       fxLayout="column"
       fxLayout.xs="column"
       fxFlexFill >
    <div fxFlex="100" fxFlex.xs="100" fxLayoutAlign="center center">
      <h2>No favorite selected</h2>
    </div>
    <div fxFlex="100" fxFlex.xs="100" fxLayoutAlign="center center">
      <img src="https://media.giphy.com/media/10tIjpzIu8fe0/giphy.gif">
    </div>
  </div>
</ng-template>

